rect.bordered {
    stroke-width: 2px;
}

text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
}

text.axis-workweek {
    fill: #000;
}

text.axis-worktime {
    fill: #000;
}

#container {
    text-align: center;
    background-color: #000000 !important;
    width: 100%;
    margin: 0 auto;
}

.player-info span {
  color: white;
  font-size: 2.5vw;
  font-weight: bold;
}

svg {
    stroke-width: 0.2;
}

svg text.legend-text {
    font-size: 0.1em;
}

svg rect {
    width: 1;
    fill: none;
}

.three-point-area circle,
.three-point-area line,
.foul-circle circle,
.rim circle,
.restricted-area circle,
.inner-court-paint line,
.backboard line,
.court-baseline line,
.court-paint rect
{
    stroke: #ffffff !important;
    fill: none;
    width: 1;
}

.legend text {
    font-size: 0.7px;
    color: white;
}

/********END SHOTCHART COURT STYLES****** */
/********SHOT STYLES****** */
svg circle {
    fill: none;
}

svg circle.shot {
    opacity: 0.2;
}

svg circle.shot.make {
    fill: red;
    stroke-width: 0.05;
}

svg circle.shot.miss {
    fill: blue;
    stroke-width: 0.05;
}

svg circle.shot.assist {
    fill: yellow !important;
    stroke-width: 0.05;
}

svg circle.shot.blocked {
    fill: #C8102E;
    stroke-width: 0.05;
    opacity: 0.8;
}

path {
}

.toggle-text {
  color: white;
}

path.shot {
    stroke: white;
    fill: none;
    stroke-width: 0.05;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/********END SHOT STYLES****** */
/********SHOT TOOLTIPS****** */
.d3-tip {
    line-height: 1;
    font-weight: lighter;
    padding: 12px;
    background: #006886;
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: #006886;
    position: absolute;
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
    content: "▼";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "◀";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "▲";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
    content: "▶";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
}

/********END SHOT TOOLTIPS****** */
