@charset "UTF-8";
/************************
 *
 *hinkie.rip
 * #TrustTheProcess
 *© 2016 Matt McManus
 *
 ***********************
 */
/* Variables */
/********RESET STYLES****** */
/********VIEWPORT SETTINGS****** */
@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
/* html5doctor.com/html-5-reset-stylesheet/ */
/* http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, object, iframe, h1, h2,
h3, h4, h5, h6, p, blockquote, pre, abbr, address,
cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr,
th, td, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/********HTML5 ELEMENT DECLARATIONS****** */
section, article, header, footer, nav, aside, hgroup {
  display: block; }

/********END HTML5 ELEMENT DECLARATIONS****** */
/********END RESET STYLES****** */
/********BASE STYLES****** */
body {
  font-family: sans-serif; }

/********END BASE STYLES****** */
/********HEADER STYLES****** */
header {
  background: #002B5C;
  display: table;
  width: 100%;
  padding: 0.75em;
  border-bottom: inset 5px #ED174C; }
  @media (min-width: 50em) {
    header {
      padding: 1.5em; } }
  header h1 {
    margin: 0;
    font-family: "NBA 76ers", sans-serif;
    color: #C4CED4;
    display: table-cell;
    vertical-align: middle;
    font-weight: lighter;
    font-size: 1.25em;
    padding: 1em; }
    @media (min-width: 50em) {
      header h1 {
        font-size: 2em;
        padding: 0.5em; } }
  header img {
    vertical-align: middle;
    float: right;
    margin-right: 0.5em;
    max-width: 5em; }
    @media (min-width: 50em) {
      header img {
        margin-right: 2em;
        max-width: 7em; } }

/********END HEADER STYLES****** */
/********FOOTER STYLES****** */
footer {
  padding: 0.75em;
  margin-top: 10%;
  margin-bottom: 1%; }
  @media (min-width: 50em) {
    footer {
      padding: 1.5em;
      display: table;
      width: 100%; } }
  footer p {
    margin: 0;
    display: block;
    color: black;
    vertical-align: middle;
    font-weight: lighter;
    font-size: 1em;
    padding: 0.1em;
    color: #C4CED4; }
    @media (min-width: 50em) {
      footer p {
        padding: 0.2em; } }
  footer #footer-block-left {
    padding-bottom: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    footer #footer-block-left h2 {
      color: #C4CED4;
      padding-bottom: 0.5em;
      font-weight: lighter;
      text-align: center; }
      @media (min-width: 50em) {
        footer #footer-block-left h2 {
          text-align: left; } }
    @media (min-width: 50em) {
      footer #footer-block-left {
        display: table-cell;
        width: 33%;
        padding-left: 2%; } }
  footer #footer-block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 2em; }
    @media (min-width: 50em) {
      footer #footer-block-center {
        display: table-cell;
        width: 33%;
        text-align: center;
        vertical-align: bottom; } }
  footer #footer-block-right {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 2em; }
    footer #footer-block-right a {
      color: #C4CED4; }
    @media (min-width: 50em) {
      footer #footer-block-right {
        display: table-cell;
        text-align: right;
        padding-right: 2%;
        vertical-align: bottom; } }
  footer #nba-stats-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 7em; }
    @media (min-width: 50em) {
      footer #nba-stats-logo {
        margin: 0; } }

/********END FOOTER STYLES****** */
/********MENU STYLES****** */
#shotchart-menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  display: table;
  font-size: 0.8em;
  margin-top: 2%;
  border-spacing: 0 1.25em;
  padding: 0 5%; }
  @media (min-width: 50em) {
    #shotchart-menu {
      display: block;
      max-width: 85%;
      padding-top: 5%; } }
  @media (min-width: 78em) {
    #shotchart-menu {
      max-width: 33%;
      margin-left: 10%;
      float: left;
      padding: 0; } }
  #shotchart-menu div.menu-div {
    display: table-row; }
    @media (min-width: 50em) {
      #shotchart-menu div.menu-div {
        display: inline-block;
        width: 32%;
        padding: 0 2em; } }
    @media (min-width: 78em) {
      #shotchart-menu div.menu-div {
        display: block;
        margin-bottom: 3em;
        width: 100%; } }
  #shotchart-menu h2 {
    font-family: "NBA 76ers", sans-serif;
    font-weight: lighter;
    font-size: 1.4em;
    display: table-cell;
    padding-right: 1.5em;
    margin-bottom: 1em; }
    @media (min-width: 50em) {
      #shotchart-menu h2 {
        font-size: 1.75em;
        display: block;
        padding-right: 0;
        margin-bottom: 0.5em; } }

form p {
  display: inline; }
  @media (min-width: 50em) {
    form p {
      display: block; } }

/********END MENU STYLES****** */
/********SHOTCHART COURT STYLES****** */
#shot-chart-container {
  margin-top: -22%;
  margin-bottom: 5%; }
  @media (min-width: 50em) {
    #shot-chart-container {
      margin-top: -15%; } }
  @media (min-width: 55em) {
    #shot-chart-container {
      margin-top: -10%; } }
  @media (min-width: 78em) {
    #shot-chart-container {
      padding-left: 1em;
      margin-left: 33%; } }
  #shot-chart-container .shot-chart {
    display: block;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 78em) {
      #shot-chart-container .shot-chart {
        margin: 0; } }

svg {
  stroke-width: 0.2; }
  svg text {
    font-size: 0.2em; }
    svg text.legend-text {
      font-size: 0.1em; }
  svg rect {
    stroke: black;
    width: 1;
    fill: none; }
  svg line {
    stroke: black;
    fill: none;
    width: 1; }

/********END SHOTCHART COURT STYLES****** */
/********SHOT STYLES****** */
svg circle {
  stroke: black;
  fill: none; }
  svg circle.shot.make {
    fill: red;
    stroke: white;
    stroke-width: 0.05; }
  svg circle.shot.miss {
    fill: blue;
    stroke: white;
    stroke-width: 0.05; }

path {
  stroke: white;
  stroke-width: 0.05; }
  path.shot {
    stroke: white;
    fill: none;
    stroke-width: 0.05; }

/********END SHOT STYLES****** */
/********SHOT TOOLTIPS****** */
.d3-tip {
  line-height: 1;
  font-weight: lighter;
  padding: 12px;
  background: #006886;
  color: #fff;
  border-radius: 2px;
  pointer-events: none; }

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #006886;
  position: absolute;
  pointer-events: none; }

/* Northward tooltips */
.d3-tip.n:after {
  content: "▼";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center; }

/* Eastward tooltips */
.d3-tip.e:after {
  content: "◀";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px; }

/* Southward tooltips */
.d3-tip.s:after {
  content: "▲";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center; }

/* Westward tooltips */
.d3-tip.w:after {
  content: "▶";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%; }

/********END SHOT TOOLTIPS****** */

/*# sourceMappingURL=main.css.map */
